
 .rootsearch{
    padding: 4px 26px;
    display: flex;
    align-items:center;
    width: 100%;
}

.item  {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 4px 26px;
    display: flex;
    align-items: center;
    width: 100%;

};

.firstsearch {
    margin: 30px

};
.searchinput {
    width: 100%;
}

.para {
    font-size: 20px;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 1px;
}
.dayspaper {
    width: 100px;
    margin-left: 30px;
    height: 24px;
}

.category{
    position: absolute;
    margin-top: 20px;
    font-weight: 300;
    font-size: 11px;
    margin-left: 5px;
}
.categorystyle{
    width: 30px;
    margin-left: 65px;
}

.loader{
    margin-top: 70px;
}
.editbutton{
    width: 38px!important;
    height: 30px!important;
}

.expansionpanelactions{
    padding-top: 4px!important;
    padding-bottom: 7px!important;

}

.modalClassText{
    margin:40px 10px;
}

.para{
text-align:center;
}


.butt{
    float: left;
    border-radius: 15%;
    margin-top: 2%;
    margin-right: 90%;
}
.butt:hover{

    border-radius: 15%;
    background-color: aqua;
}


#possition{
    margin-top: -3px;
    margin-left: 92%;
    border-radius: 15%;
}
#possition:hover{

    border-radius: 15%;
    background: aqua;
}

#nam{
    margin-top: 29  px;
}
.kal{
    align-items:center;
    margin-left:80%;
}


.tabelcellhead{
    font-size: 18px !important;
}

.tabelcellbody{
    cursor: pointer;
}