.select-fields{
  margin-top: 15px;
    width:80%;
}

.papergrid h4 {
  font-weight: 400;
  width: 100%;
}

.date-picker-div{
  padding:5px;
  margin-top:15px;
  width:80%;
  float:left;
}

.date-text{
  text-align:left;
}


.butt{
  float: left;
  border-radius: 15%;
  margin-top: 2%;
  margin-right: 90%;
}
.butt:hover{

  border-radius: 15%;
  background-color: aqua;
}


#possition{
  margin-top: -3px;
  margin-left: 92%;
  border-radius: 15%;
}
#possition:hover{

  border-radius: 15%;
  background: aqua;
}

#nam{
  margin-top: 29  px;
}