.date-text{
  font-weight: 400;
  margin-left: 20px;
}

.date-picker-div{
  padding:6px 10px;
}

.year-filter{
  margin-top: 10px;
  padding:20px 20px;
  text-align: left;
  font-weight: 400;

}


.year-header{
  padding:10px;
}

.year-class{
  font-size: 15px;
  box-shadow: 0px 0px 5px black;
  cursor:pointer;
  padding:8px;
  color: black;
  background:white;
  border-radius: 20px;
}

:target {
  background-color:#3F51B5;
  color:white;
}

a {
    text-decoration: none;
}
