.delete-iconss{
    margin-top:20px
}
.delt{
    margin-top: 14px;
      margin-right: 7px;
  
  }
  

  .tableContent{
  	cursor:pointer;
  }

.moduleNames{
	text-align: left;
}

.tableheaderclass{
	font-size: 18px;
}