.dayspaper{
  width:80%;
}

.parass{
  min-height: 30px;
  text-align: left;

  padding-top: 8px;
}

.butt{
  float: left;
  border-radius: 15%;
  margin-top: 2%;
  margin-right: 90%;
}
.butt:hover{

  border-radius: 15%;
  background-color: aqua;
}


#possition{
  margin-top: -3px;
  margin-left: 92%;
  border-radius: 15%;
}
#possition:hover{

  border-radius: 15%;
  background: aqua;
}

#nam{
  margin-top: 29  px;
}

.switch{
  float:right;
}

.butt1{
  float:right;
 
  margin-bottom:-23px;
}

.select-fields{
  margin-top: 15px;
  width: 100%;
}
