.uploadbtn_UB{
  margin-left:10px !important;

}


@media only screen and (max-width: 807px) {
   .uploadbtn_UB{
margin-top: -15px !important;
  }
}

.Fab_UB{
  margin-left:10px !important;

}
@media only screen and (max-width: 807px) {
   .Fab_UB{
margin-top: 10px !important;
  }
}


.fileInput_UB{
  width:0.1px;
  height: 0.1px;
  overflow: hidden;
  position:absolute;
  z-index: -1;

}
.CircularProgress_css{

margin-top: -10px ;
}
