.mainposition{
    margin-left: 33%;
    margin-top: 7%;
}

.mainpaper {
    width: 404px;
    height: 440px;
    background-color: #2196f3!important
}

.innerpaper{
    position: relative;
    width: 90%;
    top: 92px;
    margin-left: 20px;
    height: 256px;
}

.martop{
    margin-top: 30px!important;
}

.innertexts{
  font-size: 25px;
  padding-top: 20px;
  margin-bottom:-30px;
}
