.butt{
    float: left;
    border-radius: 15%;
    margin-top: 2%;
    margin-right: 90%;
}
.butt:hover{

    border-radius: 15%;
    background-color: aqua;
}


#possition{
    margin-top: -3px;
    margin-left: 92%;
    border-radius: 15%;
}
#possition:hover{

    border-radius: 15%;
    background: aqua;
}

#nam{
    margin-top: 29  px;
}





.SubItems_css{
  margin-top: 20px !important;
  text-align: center;
  border-top: 2px solid black;
}


.SubItemsMealType_css{

padding:10px;
  text-align: center;
  border-top: 2px solid rgba(0,0,0,0.5);

}


.SubItemsCount_css{
border-top: 2px solid rgba(0,0,0,0.5);
padding:10px;
}

.SubItemsMealTypo_type{
  margin-top: 3px !important;
}


.SubItemsInput_css{
  width: 30%;
  margin-bottom: 0px !important;
}


.SubItemsCountLabel_css{
  margin-top: 20px !important;
  border-top: 2px solid black;

}

.SubItemsPacknameTypo_css{
  text-align: left;
  margin-top: 3px !important;
}
.PackageUpdateNameInput{
  text-align: left;
}


.PackageDeleteIcon_css{
  color: red;
  cursor: pointer;
}

.editDeletIcon{
  margin-top: 10px;
}


.SubItemsDeleteGrid{
  text-align: center;
padding:0px !important;
}
.PackageCreateMealIcon{
  margin-left:7px;
}

.ADDMealButtonsGrid_css
{

  margin-top: 10px !important;
  text-align: right !important;
}

.AddMealButton_css
{

  margin-right: 10px !important;
}


.SubItemsGrid_css{
}

.SubItemsMealNameTypoGrid{

  margin-top: 10px;

}


.PackageDisplayItemsSub_countGrid{
  margin-top: 1px !important;
padding-bottom: 0px !important;
}


.EditSubItemGrid{
  border-bottom: 1px solid rgba(0,0,0,0.3);

}


.MainSubItemGrid{
  padding: 20px;
}


.AddMealpaper{
  padding:1px 20px 15px 20px;
  margin-top: 30px;
}

.AddMealButton{
  text-align: center !important;
}
.NewCountInput{
  width:80%;
}

.NewAddSelect{
  width:80%;
}

.NewAddTypoMeal{
  margin-top: 7px !important;
}


.SubCountGrid{
}

.TextFieldWidth{
  width: 60%;
  margin-bottom: 10px !important;

}

.papermainGrid{
  margin-top: 20px ;
}


.PackageNameGrid{
  text-align: left;
  padding-left:8.3%;
  margin-top: 20px !important;
}

.AddNewPkgButtonGrid{
  margin: 10px 20px 10px 0px !important;
  text-align: right;
}


.HeadingAddNew{
  opacity: 0.7;
  margin: 10px 0px 0px 2% !important;
}

.TableHeading{
  margin-top: 0px !important;
  opacity: 0.5;
}

.TabRow{
  padding: 0px;
}

.tableCellhead{}
.DeleteConfirmWarningIcon{
  color:yellow;
  margin:5px 10px auto auto;

}



.MainPaperPackages{
  margin-top: 20px;
}

.MainDeleteIconPackages
{
  color: red;
  margin: 20px 0px 0px 0px;
  cursor: pointer;
}

.MainDeleteIconPackagesGrid
{
  text-align: right;
}

.displayItemsGrid{
  margin-top:10px;
}

.pakagesExpansionPanel{

}

.pakagesExpansionPanelDetails{
  padding: 0px 10px 0px 10px !important;

}
.EachGrid{
  margin-top: 10px;
}
.packageheader{
  font-size: 28px !important;
  opacity: 0.8;
  margin-top: 10px !important;
}

.ClasspakageGrid{
  text-align: left;
}

.CheckBoxgrid
{
  width:20px !important;
  padding-top:10px;
}


.PackageWrapperExpansionPanelSummary
{
  margin:0px !important;
}

.mainCheckBoxpackage{
  margin-top: 10px !important;
}

.GridInline
{
  text-align: right;
}

.propsCssClassForTemppackSelector
{
  width:60% !important;
  margin-top: 16px;

}
