.expansionpanelactions{
    margin-top: -40px;
  }
  
  .butt{
      float: left;
      border-radius: 15%;
      margin-top: 2%;
      margin-right: 90%;
    }
  
  
    .butt:hover{
    
      border-radius: 15%;
      background-color: aqua;
    }
  
      .MuiFormHelperText-root{
      color:rgba(0,0,255,0.54);
    }
  
    .error1{
      color:red;
      font-size:12px;
      text-align:center;
    }

    .editbutton{
      height:20px;
      width:20px;
    }

  