

.fileName{
  border:1px solid black;
  padding:8px 5px;
  min-height: 20px;
}

.imgClass img{
  background-size:100% 100%;
  width: 100%;
  height: 120px;
}

.butt{
  float: left;
  border-radius: 15%;
  margin-top: 2%;
  margin-right: 90%;
}
.butt:hover{

  border-radius: 15%;
  background-color: aqua;
}


#possition{
  margin-top: -3px;
  margin-left: 92%;
  border-radius: 15%;
}
#possition:hover{

  border-radius: 15%;
  background: aqua;
}

#nam{
  margin-top: 29  px;
}



/* uniform slider  */

.slide-container {
  width: 70%;
  margin: auto; }

h3 {
  text-align: center; }

.each-slide > div {
  display: grid;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 150px;
}

.each-slide span {
  padding-top: 100px;
  font-size: 20px;
  /* background: #efefef; */
  align-items: bottom;
}

.fileButton{
  padding: 5px;
  background: aqua; 
  /* display: table; */
  color: black;
  height: 20px;
  width: 40px;
   }



/* input[type="file"] {
  display: grid;
} */

div.upload {
    width: 250px;
    height: 57px;
    background: url(https://lh6.googleusercontent.com/-dqTIJRTqEAQ/UJaofTQm3hI/AAAAAAAABHo/w7ruR1SOIsA/s157/upload.png);
    overflow: hidden;
    margin-left: 30px;
    /* background-color: aqua; */
}

div.upload input {
    display: block !important;
    width: 250px !important;
    height: 57px !important;
    opacity: 0 !important;
    color: aqua;
    overflow: hidden !important;
}

.videoUpload{
  width: 250px;
    height: 57px;
    /* background: url(https://lh6.googleusercontent.com/-dqTIJRTqEAQ/UJaofTQm3hI/AAAAAAAABHo/w7ruR1SOIsA/s157/upload.png); */
    overflow: hidden;
    margin-left: 30px;
    /* background-color: aqua; */
}

.videoUpload input{
  width: 250px;
    height: 57px;
    /* background: url(https://lh6.googleusercontent.com/-dqTIJRTqEAQ/UJaofTQm3hI/AAAAAAAABHo/w7ruR1SOIsA/s157/upload.png); */
    overflow: hidden;
    margin-left: 30px;
    /* background-color: aqua; */
}

#discription{

  margin-right: -254px
}

